body{
    margin: 0;
    padding: 0;
    background-image: url(votaciones.jpg);
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.cont-primary{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
    background-color:white;
    align-items: center;
    justify-content: space-evenly;
}
.vote-img{
    width: 30%;
    height: 30%;
}
/*.img-vote{
    filter: blur(3px);
}*/